.catalog:hover {
  border-bottom: 0.15rem solid white;
}


.navbar_main_container {
  height: var(--navbar-container);
}

.line_bottom {
  border: none;
  width: 100%;
  height: 1rem;
  background-color: yellow;
}


.line_before {
  border: none;
  margin-top: 2px;
  width: 0;
  height: 2px;
  size: 0;
  background-color: white;
  transition: width 200ms ease;
}


.line_after {
  border: none;
  margin-top: 2px;
  width: 100%;
  height: 2px;
  transition: width 200ms ease;
  background-color: white;
}

.catalog_appear {
  display: flex;
  flex-direction: row;
}

.catalog_disappear {
  display: none;
}

.link {
  color: grey;
  transition: color 150ms ease 150ms;
}

.link_focus {
  color: var(--color-blue-light);
  transition: color 150ms ease 150ms;
}



