@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./navbar.module.css";
@import "./footer.module.css";
@import "./card.module.css";
@import "./specialitem.module.css";
@import "./selectbox.module.css";
@import "./animation.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Staatliches&display=swap');


:root {
  --color-blue-light: #45b6fe;
  --gutter: 20px;
  --w: 40%;
}


img {
  object-fit: cover;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: whitesmoke;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 40;
}

input:focus {
  outline: none;
}



.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-staatliches {
  font-family: 'Staatliches', cursive;
}

.font-reguller {
  font-weight: 500;
}





.bg-input {
  background-color: #dcdcdc;
}

.bg-blue-facebook {
  background-color: #3c5898;
}

.bg-blue-facebook:hover {
  background-color: #334777;
}

.hidden-scrollbar {
  scrollbar-width: none;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}


.select-custom  {
  border-radius: 0;
}