@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-blue-light: #45b6fe;
  --navbar-container: 5rem;
  --footer-container: 12rem;
}


.layout {
  padding-top: 8rem;
}

body {
  background-color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input:focus {
  outline: none;
}


.bg-grey {
  background-color: gray;
}

.bg-input {
  background-color: #dcdcdc;
}

.bg-yellow {
  background-color: yellow;
}

.bg-red {
  background-color: red;
}

.bg-red:disabled {
  background-color: red;
  opacity: 0.5;
}

.bg-white {
  background-color: white;
}

.c-white {
  color: white;
}