@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./navbar.module.css";
@import "./jumbotron.module.css";
@import "./footer.module.css";
@import "./card.module.css";
@import "./specialitem.module.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


:root {
  --color-blue-light: #45b6fe;
  --gutter: 20px;
  --w: 40%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: whitesmoke;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 40;
}





input:focus {
  outline: none;
}



.bg-input {
  background-color: #dcdcdc;
}


.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}







.bg-blue-facebook {
  background-color: #3c5898;
}

.bg-blue-facebook:hover {
  background-color: #334777;
}

.c-white {
  color: white;
}
